BeautifulReport==0.0.9
beautifulsoup4==4.6.0
bs4==0.0.1
demjson==2.2.4
Django==2.1.1
django-bootstrap3==8.2.2
django-file-md5==1.0.2
et-xmlfile==1.0.1
html5lib==1.0.1
hyperlink==17.2.1
lxml==3.8.0
multidict==4.3.1
nose-parameterized==0.6.0
openpyxl==2.4.8
parsel==1.2.0
psutil==5.4.3
pyasn1==0.2.3
pyasn1-modules==0.0.9
pycparser==2.18
PyDispatcher==2.0.5
pyLibrary==2.35.19026
PyMySQL==0.8.0
PyMySQL3==0.5
pyOpenSSL==17.1.0
pytz==2018.5
requests==2.14.2
selenium==3.8.1
service-identity==17.0.0
w3lib==1.17.0
webencodings==0.5.1
xlrd==1.0.0
xlwt==1.2.0